@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@300;400&display=swap');

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, .9);
}

.footer {
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    padding: 70px 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: #000000;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px 40px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.site-logo {
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 30px;
    margin-right: 70px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #BE4EE5;
    transition: all 0.3s;
}

.name{
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
}
.aboutMe{
    color: #fff;
    max-width: 530px;
    margin-left: 300px;
    margin-top: 300px;
}
.jobDescription{
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.bio{
    font-size: 18px;
}

@media screen and (min-width: 400px) {
    .aboutMe{
        margin: 200 0 0 250;
    }
}
