@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@300;400&display=swap');

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.footer {
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    padding: 70px 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: #000000;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px 40px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.site-logo {
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 30px;
    margin-right: 70px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #BE4EE5;
    transition: all 0.3s;
}